body {
    font-family: Arial;
    background-color: #0f172a;
    color: white;
}

header {
    background: #1e293b;
    padding: 15px;
}

a {
    color: #38bdf8;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
}
